.container {
    margin-top: 6%;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    width: 101%;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }